/* styles.css */
.button {
    -fx-background-color: #4CAF50;  /* Green background */
    -fx-text-fill: white;           /* White text */
    -fx-font-size: 14px;
    -fx-padding: 5 15 5 15;         /* Top, Right, Bottom, Left padding */
    -fx-background-radius: 5px;     /* Rounded corners */
}

.button:hover {
    -fx-background-color: #45a049; /* Darker green on hover */
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.customInput:hover {
    -fx-border-color: #0162AB;
}
.clickable-text {
    -fx-fill: #0162ab;
    -fx-cursor: hand;
}
#goBackButton{
    -fx-cursor: hand;
}
#goBackButton:hover{
    -fx-border-color: #0383e5;
    -fx-background-radius: 10px;
}
.bold-title{
    -fx-font-weight: bold;
}
.signin_image{
    -fx-border-radius: 10 0 0 10;
}
.overlay{
    -fx-stroke: none;
}